/* ==========================================================================
   [Generel element styles]
========================================================================== */
h1, h2, h3, h4, h5, h6 {
    font-weight: bolder;
    color: $primary-dark;
}
h1.underline:after, h2.underline:after, h3.underline:after, h4.underline:after, h5.underline:after, h6.underline:after {
    content: "";
    display: block;
    width:30px;
    height: 1px;
    margin:auto;
    background: $seconday-dark;
    position: relative;
    top: 20px;
}
button, .button {
    display: inline-block;
    font-weight: bold;
    height: 43px;
    line-height: 40px;
    padding: 0px 40px;
    border-radius: 5px;
    border: 2px solid $seconday-dark;
    background: $seconday-light;
    bottom: 47%;
    color: $primary-dark;
    margin: 10px 5px;
    text-decoration: none;
}
button:hover, .button:hover {
    color: $seconday-dark;
    background: $background;
    text-decoration: none;
}
button.outline, .button.outline {
    border: 2px solid $border-color;
    background: none;
} 
p {
    font-size: 16px;
    font-weight: 500;
    color: $primary-light;
    margin: 10px 0;
    line-height: 20px;
}
strong, b {
    color: $primary-dark;
}
a {
    color: $primary-dark;
    text-decoration: underline;
}
a:hover {
    color: $seconday-dark;
}
::selection {
    background: $seconday-dark; /* Safari */
    color: $white;
}
::-moz-selection {
    background: $seconday-dark; /* Firefox */
    color: $white;
}

/* ==========================================================================
   [Helper classes]
========================================================================== */
/* No-nos */
.nopadding {
    padding: 0;
}
.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.noclick {
    pointer-events: none;
}
/* Clear */
.clear {
    display: block;
    width: 100%;
    clear: both;
}
/* Line and space */
.line {
    width: 100%;
    display: block;
    clear: both;
    border-top: #c3c3c3 solid 1px;
    margin-top: 40px;
    padding-top: 40px;
    }
.line-dotted {
    border-top: #c3c3c3 dotted 1px;
}
.line-dashed {
    border-top: #c3c3c3 dashed 1px;
}
.space {
    width: 100%;
    height: 10px;
    clear: both;
    display: block;
}
/* ==========================================================================
   [Sticky header]
========================================================================== */
.sticky {
    height: 60px;
    transition: all 300ms ease-in-out;
}
.sticky.sticked {
    animation: sticky 1000ms ease-in-out;
    position: fixed;
    z-index: 4;
}