$font-stack:    'Merriweather', serif;
$primary-dark: #2b3a42;
$primary-light: #3f5765;
$seconday-dark: #ff530d;
$seconday-light: #ffac8a;
$background: #efefef;
$border-color: #bdd4de;
$black: #000000;
$white: #ffffff;